/* 
@media (max-width: 1000px) {    
    .section .cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px;
    }
       
    .cards {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);; 
        justify-items: center;
        width: 100%;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    main .section .card-description .card-text {
        font-size: 11px;
    }
} */