
.nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;

    display: flex;
    flex-direction: row;
    align-self: start;
    justify-content: center;

    background-color: var(--bg-light);
    border: 5px solid var(--bg-light);
    border-radius: 100px;
    box-shadow:  0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
    overflow: visible;
      overflow: visible;
}

/* button */
.nav a {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;

    height: 34px;
    padding: 10px;
    background-color: #0000;
    border: none;
    border-radius: 100px;
    overflow: visible;
}
.nav a:hover::before {
    background-color: #0000;
}

.nav a { position: relative; }

.desktop .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 5px);
    left: calc(100%) ;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;

    display: inline-block;
    width: auto;
    width: fit-content;
    white-space: nowrap;

    font-size: 10px;
    font-weight: 600;
    color: var(--text-sec);
    background-color: var(--bg);
    padding: 10px;
    border-radius: 100px;

}

.desktop .tooltip:hover::after { opacity: 1; }


/* text */
.nav .selected { background-color: var(--highlight2); }
.selected p { color: var(--text-highlight);}

.nav a p, .mobile .nav p { display: none;}
/* .nav a:hover p { display: flex;} */


/* img */
.nav img {
    width: 20px;
    height: 20px;
    filter: invert(0.6);
}

.light .nav img { filter: invert(0.5);}
.nav .selected img, .nav a:hover img, .light .nav .selected:hover img {filter: invert(1);}
.light .nav a:hover img { filter: invert(0.2);}



/* Vertical */
@media (max-width: 768px) {
    .nav {
        top: 7px;
        left: 5px;
       
    }
}