.carousel {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.preview .card-img{
    border-radius: 0px;
}

.carousel .card-img {
    width: 100%;
    display: flex;
}

/* .nav-option .project .carousel .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff0;
  color: white;
  border: none;
  padding: 10px 14px;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  color: #0000;
} */

.carousel::after{
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 20, 36, 0.6);  */
  pointer-events: none;
  border-radius: 0;
  background: rgba(0, 115, 172, 0.08);
  background-blend-mode: multiply;
}

