.text-main {
    color: var(--text-main);
    font-weight: 600;
    display: block;
    width: 100%;
}
.text-title {
    color: var(--text-main);
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    border-radius: 10px;
    box-shadow: var(--shadow);
    overflow: hidden;
    width: clamp(100px, 80vw, 800px);
    text-decoration: none; 
    padding: 0;
    border: none;
    overflow: hidden;
    /* transform: scale(1); */
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.4s ease;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0,0,0,0.65),
               0 4px 12px rgba(0,0,0,0.85);
}

.hl1 {
    background-color: var(--highlight1);
    color: var(--text-highlight);
}
.hl2 {
    background-color: var(--highlight2);
    color: var(--text-highlight);
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-start{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-view {
    width: 100%;
    height: 100%;
}

.gap5 {
    gap: 5px;
}
.gap10 {
    gap: 10px;
}

.flex {
    display: flex;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
}

.center {
    justify-content: center;
}
.align {
    align-items: center;
}


.logo {
    width: 45px;
    height: 45px;
}



.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-view {
    width: 100%;
    height: 100%;
}

.gap0 {
    gap: 0px;
}
.gap3 {
    gap: 3px;
}
.gap5 {
    gap: 5px;
}
.gap10 {
    gap: 10px;
}
.gap20 {
    gap: 20px;
}
.gap25 {
    gap: 25px;
}
.gap30 {
    gap: 30px;
}

.flex {
    display: flex;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    justify-content: center;
}

.logo {
    margin-bottom: 3px;
    /* margin-left: 2px; */
    width: 30px;
    height: 30px;
    margin-right: 8px;
    position: relative;
    z-index: 1;
}

.light .icon {
    filter: invert(0.1);
}
.dark .icon {
    filter: invert(0.9);
}



@media (max-width: 768px) {
    div .gap20 {
        gap: 15px;
    }
}