@import url('./styles/normalize.css');

@import url('./styles/global/themes.css');
@import url('./styles/global/text.css');

@import url('./styles/layouts/mobile.css');
@import url('./styles/layouts/nav.css');
@import url('./styles/layouts/footer.css');

@import url('./styles/sections/presentation.css');
@import url('./styles/sections/projects.css');
@import url('./styles/sections/techs.css');
@import url('./styles/sections/about.css');

@import url('./styles/components/home.css');
@import url('./styles/components/ThemeSwitch.css');

@import url('./styles/components/projects/ImageCarousel.css');
@import url('./styles/components/projects/ProjectDetails.css');
@import url('./styles/components/projects/ProjectNav.css');


div {
    border: 0;
    padding: 0;
}

/* html, body, #root, main */
html, body, #root {
    /* height: 100%; */
    width: 100%;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    display: flex;    
    justify-content: end;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;
    z-index: 100;
}
header .header-card{
    border: 5px solid var(--bg-light);
    background-color: var(--bg-light);
    border-radius: 100px;
    box-shadow:  0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

h1 {
    font-size: 18px;
    color: var(--text-highlight2);
    /* color: var(--text-main); */
}

body, main {
    display: flex;
    flex-direction: column;
    
    position: relative; 
    margin: 0;
    background-color: #0000;
    font-family: var(--font-main);
    color: var(--text-sec);
    font-size: 16px;
    font-weight: 400;
    font-optical-sizing: auto;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.layout{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

main {
    flex: 1;
    align-items: center;
    gap: 0px;
    width: 100%;
    padding-top: 0;
}

.home-button{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #00000000;
    color: var(--text-sec);
}

/* a, buttom, input, select */
button, input, select, textarea, option {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin: 0;

    background-color: var(--bg-light);    
    color: var(--text-sec);

    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-sec);
}
a:hover {
  filter: blur(1115px);         /* desenfoque */
  filter: grayscale(100%);   /* escala de grises */
  filter: brightness(100%);   /* oscurecido */
}

button{
    position: relative;
    overflow: hidden;        
    z-index: 0;     
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

a::before, button::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.1s ease;
  pointer-events: none;
  z-index: 1;
  border-radius: 10px;
}

a:hover::before,
button:hover::before{
  background: rgba(173, 188, 255, 0.377);
  transition: background-color 0.1s ease;
}



input {
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0;
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--text-main);
    text-align: center;
    height: 35px;
}

textarea {
    border-radius: 10px;
    width: 100%;
}

/* Text */
label, p {
    text-align: justify;
}

ul, ol {
  list-style-position: inside;
  padding-left: 1em;
  margin: 0;        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*  */
hr {
    margin: 5px 20px;
    border: 0.5px solid #fff3;
}
.light hr {
    border: 0.5px solid #0003;
}

/* multimedia */
video {
    border-radius: 10px;
}

.download-cv {
    height: 34px;
    display: flex;
    flex:1;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--highlight2);
    border-radius: 40px;
    font-weight: 600;
    color: var(--text-highlight);
}
.download-cv img {
    width: 12px;
    height: 12px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.download-cv::before {
  border-radius: 20px;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    box-shadow: none;
}  
::-webkit-scrollbar-track {
    background: var(--bg-dark);
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-light);
    border-radius: 10px;
    box-shadow: none;
    /* box-shadow: var(--shadow); */
    border: 1px solid var(--border);
} 
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-light);
    /* box-shadow: var(--shadow); */
    border: 1px solid var(--border);
    box-shadow: none;
}


button, a, input, textarea {
    -webkit-tap-highlight-color: transparent;
}


/* Vertical */
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display:none;
    }

    header {
        padding: 7px 5px;
    }
    header .theme-switch {
        display: none;
    }
}

