.section.hero {
    padding-top: 100px;
    width: clamp(300px, 60%, 600px);   
    gap: 20px;
}

.section.hero .profile-img {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: 10px solid var(--border);
}

.hero-socials {
    height: 30px;
    display: flex;
    align-items: center;
    justify-self: center;
}

a.social:hover{
    background-color: #0000;
}
a.social:hover::before{
    background-color: #0000;
}

.icon-inverter {
    width: 25px;
    height: 25px;
    filter: invert(0.75);
}
.icon-inverter:hover {
    filter: invert(1);
}

@media (max-width: 768px) {
    section.hero .profile-img {
        width: 230px;
        height: 230px;
    }
    section.hero {
        padding-top: 120px;
        width: clamp(300px, 60%, 600px);        
    }
}