.text-hl {
    color: var(--text-highlight);
}
.text-hl2 {
    color: var(--text-highlight2);
}
.text-hl3 {
    color: var(--text-highlight3);
}

.text-main{
    color: var(--text-main);
}

.keywords {
    font-weight: 600;
    color: var(--highlight3);
}
.keyword2 {
    color: var(--highlight5);
}


.h1 {
    font-weight: 800;
    font-size: 34px;
}

.h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--highlight4)
}

.h3 {
    font-size: 22px;
    font-weight: 500;
}

.h4 {
    font-size: 20px;
    font-weight: 600;
}
.section > .h4 {
    font-size: 22px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    /* word-spacing: 4px */
}


.h5 {
    font-size: 16px;
    font-weight: 700;
    /* color: var(--text-main); */
}

.h5 {
    font-size: 13px;
    font-weight: 600;
    /* color: var(--text-main); */
}
.h6 {
    font-size: 11px;
    font-weight: 900;
    color: var(--text-sec);
}
.h7 {
    font-size: 10px;
    font-weight: 600;
    /* color: var(--text-main); */
}

.t-body{
    font-weight: 700;
    font-size: 20px;
    color: var(--text-sec);
}

.t-body1  {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-sec);
}

.t-body2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.t-body3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}

.t-body4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
}

.t-body5 {
    font-size: 12px;
    font-weight: 600;
}

.t-body6 {
    font-size: 10px;
    font-weight: 600;
}


@media (max-width: 768px) {
    div .h1 {
        /* font-size: 32px; */
        font-weight: 800;   
        font-size: 28px;
    }
    div .h1-sec {
        font-size: 9px;
        font-weight: 900;
        color: var(--highlight1);
    }

    div .h2 {
        font-size: 14px;
        font-weight: 600;
    }

    div .h3 {
        font-size: 14px;
        font-weight: 600;
        /* color: var(--text-main); */
    }

    div .h4 {
        font-size: 16px;
        font-weight: 700;
        /* color: var(--text-main); */
    }

    div .h5 {
        font-size: 12px;
        /* color: var(--text-main); */
    }

    .h6 {
        font-size: 11px;
        font-weight: 900;
        color: var(--text-sec);
    }
    .h7 {
        font-size: 10px;
        font-weight: 600;
        /* color: var(--text-main); */
    }

    .t-body{
        font-weight: 700;
        font-size: 20px;
        color: var(--text-sec);
    }

    .t-body1  {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-sec);
    }

    .t-body2 {
        font-size: 14px;
    }

    .t-body3 {
        font-size: 14px;
        font-weight: 400;
    }

   .t-body4 {
        font-size: 12px;
        font-weight: 600;
    }
    .t-body6{
        font-size: 11px;
        font-weight: 600;
        line-height: 1.2;
    }
}