@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-main: "Roboto", sans-serif;

  --bg-dark: hsl(243, 10%, 8%);
  --bg: hsl(247, 5%, 15%);
  --bg-light: hsl(247, 10%, 20%);
  --border: hsl(247, 5%, 20%);

  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --text-main: hsl(0 0 95%);
  --text-sec: hsl(0 0 80%); 

  --highlight1: hsl(44.46, 92.05%, 70.39%);
  --highlight2: hsl(194, 92%, 70%);
  --highlight2: hsl(201, 79%, 61%);
  --text-highlight: hsl(0 0 90%); 
  --text-highlight2: hsl(0 0 80%); 
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(243, 10%, 8%);
    --bg: hsl(247, 5%, 15%);
    --bg-light: hsl(247, 10%, 20%);
    --border: hsl(247, 5%, 20%);
    --border: hsl(0, 0%, 80%, 30%);

    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

    --text-main: hsl(0 0 80%);
    --text-sec: hsl(0 0 60%); 
    --text-main-light: hsl(0 0 80%);
    --text-sec-light: hsl(0 0 60%); 

    --highlight1: #1D63ED;
    --highlight2: #2552ac;
    --highlight3: #63a7ff;
    --highlight4: #78aef4;
    --highlight5: #78aef4;

    --text-highlight: hsl(0 0 90%); 
    --text-highlight2: hsl(0 0 80%); 
    --text-highlight3: hsl(0 0 75%); 
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: hsl(196, 39%, 43%);
    --bg: hsl(196, 27%, 73%);
    --bg-light: hsl(0, 0%, 90%);
    --border: hsl(0, 0%, 80%, 30%);

    --text-main: hsl(0 0 20%);
    --text-sec: hsl(0 0 25%);

    --highlight1: #1d58cf;
    --highlight2: #2753a9;
    --highlight3: #9cbdff;
    --highlight4: #9cbdff;
    --highlight5: #1363cb;

    --text-highlight: hsl(0 0 100%); 
    --text-highlight2: hsl(0 0 85%); 
    --text-highlight3: hsl(0 0 75%); 
  }
}

body.dark {
  --bg-dark: hsl(243, 10%, 8%);
  --bg: hsl(247, 5%, 15%);
  --bg-light: hsl(247, 10%, 20%);
  --border: hsl(247, 5%, 20%);
  --border: hsl(0, 0%, 80%, 30%);

  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --text-main: hsl(0 0 80%);
  --text-sec: hsl(0 0 60%); 
  --text-main-light: hsl(0 0 80%);
  --text-sec-light: hsl(0 0 60%); 

  --highlight1: #1D63ED;
  --highlight2: #2552ac;
  --highlight3: #63a7ff;
  --highlight4: #78aef4;
  --highlight5: #78aef4;

  --text-highlight: hsl(0 0 90%); 
  --text-highlight2: hsl(0 0 80%); 
  --text-highlight3: hsl(0 0 75%); 
  /* --text-highlight3: hsl(224, 24%, 81%);  */
}

body.light {
  --bg-dark: hsl(196, 39%, 43%);
  --bg: hsl(196, 27%, 73%);
  --bg-light: hsl(0, 0%, 90%);
  --border: hsl(0, 0%, 80%, 30%);

  --text-main: hsl(0 0 20%);
  --text-sec: hsl(0 0 25%);

  --highlight1: #1d58cf;
  --highlight2: #2753a9;
  --highlight3: #9cbdff;
  --highlight4: #9cbdff;
  --highlight5: #1363cb;

  --text-highlight: hsl(0 0 100%); 
  --text-highlight2: hsl(0 0 85%); 
  --text-highlight3: hsl(0 0 75%); 
}