
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  position: absolute;
  z-index: 0;
}

body header, main{
    background-color: #0000;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    /* gap: 120px; */
    background-color: #0000;
    z-index: 10;    
}
section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #0000;
    align-items: center;
    width: 100%;
    padding: 60px 0px;
}


/* Background */
.bg-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
  background-image: url("/backgrounds/parabolic3.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -3;          
  opacity: 1;
}

.light .bg-image::before{
    background: rgba(132, 91, 203, 0.238);
    backdrop-filter: blur(5px);
    /* filter: blur(10px); */
}
.dark .bg-image::before{
    background: rgba(92, 87, 120, 0.2);
    backdrop-filter: blur(10px);
    /* filter: blur(0px); */
}


/* Anim */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

